:root {
  --quiet-luxury-1: #ead7d7;
  --quiet-luxury-2: #efcfbe;
  --quiet-luxury-3: #d3c89a;
  --quiet-luxury-4: #7f8b62;
  --quiet-luxury-5: #52363d;

  --modern-seaside-1: #d4e7dd;
  --modern-seaside-2: #86cab8;
  --modern-seaside-3: #57a9da;
  --modern-seaside-4: #227ff0;
  --modern-seaside-5: #534f96;
}
